body
{
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;

    min-width: 900px;
}
h1
{
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;

    margin: 0;
    margin-bottom: 35px;
    padding: 0;

    color: white;
}
.inner h1
{
    margin-bottom: 25px;
}
h2
{
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;

    margin: 0;
    margin-bottom: 15px;

    color: white;
}
h3
{
    font-size: 16px;
    font-weight: normal;
    line-height: 22px;

    margin: 0;
    margin-bottom: 6px;

    text-decoration: underline;

    color: white;
}
.inner main
{
    position: relative;
}
.wrapper
{
    background: #849d8f;
}
.main-wrapper {
    padding-right: 2.3%;
    padding-left: 2.3%;
}
input[value='background-1']:checked ~ .wrapper
{
    background: #849d8f;
    background-image: url(../img/index-background1.png);
    background-repeat: no-repeat;
    background-position: top center;
}
input[value='background-1']:checked ~ .wrapper label[for=background-1]
{
    background: white;
    box-shadow: inset 0 0 0 2px white;
}
input[value='background-2']:checked ~ .wrapper
{
    background: #8996a6;
    background-image: url(../img/index-background2.png);
    background-repeat: no-repeat;
    background-position: top center;
}
input[value='background-2']:checked ~ .wrapper label[for=background-2]
{
    background: white;
    box-shadow: inset 0 0 0 2px white;
}
input[value='background-3']:checked ~ .wrapper
{
    background: #9d8b84;
    background-image: url(../img/index-background3.png);
    background-repeat: no-repeat;
    background-position: top center;
}
input[value='background-3']:checked ~ .wrapper label[for=background-3]
{
    background: white;
    box-shadow: inset 0 0 0 2px white;
}
.main-page
{
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}
/* шапка */
.header-logo
{
    margin-left: -6px;
}
.main-header
{
    display: flex;

    padding-top: 10px;

    justify-content: space-between;
    align-items: flex-start;
}
.nav-list
{
    display: flex;

    margin: 0;
    margin-top: 17px;
    padding: 0;

    list-style-type: none;
}
.nav-item
{
    position: relative;

    padding-right: 13px;
    padding-bottom: 10px;
    padding-left: 13px;
}
.nav-item:first-of-type
{
    margin-left: 16px;
}
.nav-item a
{
    font-weight: 500;
    line-height: 18px;

    position: relative;

    margin-right: 2px;
    padding: 0;

    text-decoration: none;

    color: white;
    border-bottom: 1px solid rgba(255,255,255,.4);
}
.nav-item:hover,
.nav-item:active
{
    padding: 0;
}
.nav-item:hover > a
{
    box-sizing: border-box;
    padding-top: 7px;
    padding-right: 13px;
    padding-bottom: 7px;
    padding-left: 13px;

    border-bottom: none;
    border-radius: 17px;
    background-color: #f7f6f3;
}
.nav-item:active > a
{
    box-sizing: border-box;
    padding-top: 7px;
    padding-right: 13px;
    padding-bottom: 7px;
    padding-left: 13px;

    color: #333;
    border-radius: 17px;
    background-color: rgba(248, 247, 244, .988);
    box-shadow: inset 0 2px 1px 0 #696969;
}
.nav-item:hover a
{
    color: #333;
}
.nav-item:hover .sub-nav-list
{
    display: block;
}
.active-nav-item
{
    padding: 0;
}
.active-nav-item > a
{
    box-sizing: border-box;
    padding-top: 7px;
    padding-right: 13px;
    padding-bottom: 7px;
    padding-left: 13px;

    color: white;
    border: none;
    border-radius: 17px;
    background-color: #d07058;
}
.sub-nav-list
{
    position: absolute;
    z-index: 1;
    top: 100%;
    left: -7px;

    display: none;

    box-sizing: border-box;
    padding: 0;

    list-style-type: none;

    border-radius: 5px;
    background: white;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}
.sub-nav-list > .active
{
    background-color: #d07058;
}
.sub-nav-list > .active a
{
    color: white;
}
.sub-nav-item
{
    box-sizing: border-box;
    padding-right: 25px;
    padding-left: 15px;
}
.sub-nav-item:hover:not(.active)
{
    background-color: #fbded7;
}
.sub-nav-item:active
{
    background-color: #f6b5a5;
}
.sub-nav-item:visited
{
    background-color: #d07058;
}
.sub-nav-list a
{
    font-size: 14px;
    line-height: 16px;

    display: inline-block;

    width: 101px;
    padding-top: 12px;
    padding-bottom: 12px;

    vertical-align: middle;

    border: none;
}
.sub-nav-item:first-of-type
{
    position: relative;
}
.sub-nav-item:first-of-type a
{
    font-weight: bold;
}
.sub-nav-item:first-of-type:hover
{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.sub-nav-item:last-of-type:hover
{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.sub-nav-item:first-of-type::before
{
    position: absolute;
    bottom: 0;
    left: 5px;

    width: 132px;
    height: 1px;

    content: '';

    border-bottom: 1px solid #d1d0ce;
}
.user-list
{
    display: flex;

    margin: 0;
    margin-top: 12px;
    padding: 0;

    list-style-type: none;
}
.user-list-item
{
    margin-left: 10px;
    padding-bottom: 5px;
}
.user-list-item > a
{
    font-size: 14px;
    line-height: 16px;

    text-align: center;
    text-decoration: none;

    color: white;
}
.search
{
    position: relative;
}
.search a
{
    display: inline-block;

    width: 32px;
    height: 32px;

    cursor: pointer;
    vertical-align: middle;
    text-indent: -999999px;

    border-radius: 50%;
    background-color: rgba(255,255,255,.2);
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -24px -126px;
}
.search:hover > a
{
    background-color: #f8f7f4;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 3px -127px;
    box-shadow: none;
}
.search:hover > .popup-search
{
    display: block;
}
.popup-search
{
    position: absolute;
    top: 100%;
    right: 0;

    width: 343px;
    padding: 20px 15px;

    border-radius: 6px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}
.popup-search input
{
    font-size: 14px;
    line-height: 24px;

    box-sizing: border-box;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
.popup-search button
{
    display: none;
}
.login
{
    position: relative;
}
.login > a
{
    display: inline-block;

    box-sizing: border-box;
    padding: 0;
    padding-top: 7px;
    padding-right: 16px;
    padding-bottom: 9px;
    padding-left: 44px;

    cursor: pointer;
    vertical-align: middle;

    border-radius: 14px;
    background-color: rgba(255,255,255,.2);
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0);
}
.login > a::before
{
    position: absolute;
    top: 0;
    left: 12px;

    width: 27px;
    height: 25px;

    content: '';

    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -217px -99px;
}
.login:hover > a
{
    color: #373737;
    background-color: #f8f7f4;
    box-shadow: none;
}
.login:hover > a::before
{
    background-image: url(../img/sprite.png);
    background-position: -216px -70px;
}
.login:hover > .popup-login
{
    display: block;
}
.popup-login
{
    font-size: 13px;
    line-height: 24px;

    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;

    width: 277px;
    padding: 20px 15px;

    border-radius: 6px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}
.popup-login input
{
    font-size: 14px;
    line-height: 24px;

    display: inline-grid;

    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;

    vertical-align: middle;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
.popup-login button
{
    font-size: 18px;
    line-height: 24px;

    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: none;
    border-radius: 15px;
}
.login-and-authorizes
{
    display: flex;

    justify-content: space-between;
}
.authorize-links a
{
    display: block;

    padding: 0;

    color: #323232;
}
.authorize-links a:hover,
.authorize-links a:active
{
    color: #e84d37;
}
.basket
{
    position: relative;
}
.basket > a
{
    display: inline-block;

    box-sizing: border-box;
    padding: 0;
    padding-top: 7px;
    padding-right: 35px;
    padding-bottom: 9px;
    padding-left: 44px;

    vertical-align: middle;

    border-radius: 14px;
    background-color: rgba(255,255,255,.2);
}
.basket > a::before
{
    position: absolute;
    top: 0;
    left: 8px;

    width: 31px;
    height: 27px;

    content: '';

    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 5px 1px;
}
.full-basket > a
{
    padding-right: 15px;
    padding-left: 44px;

    background-color: #f8f7f4;
    box-shadow: none;
}
li.full-basket > a
{
    color: #313131;
}
.full-basket > a:before
{
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -126px 1px;
}
.full-basket:hover > .popup-basket
{
    display: block;

    box-sizing: border-box;
}
.popup-basket
{
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;

    width: 540px;
    padding: 20px 15px;

    border-radius: 6px;
    background-color: #f8f7f4;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}
.product-list
{
    width: 100%;
    margin-bottom: 30px;
}
.product-list td
{
    vertical-align: middle;
}
.product-list::after
{
    position: absolute;

    width: 510px;
    height: 1px;
    margin-top: 20px;

    content: '';

    border-bottom: 1px solid #d1d0ce;
}
.name-product
{
    width: 218px;
    padding-right: 30px;
}
.name-product,
.price-product,
.cost
{
    font-size: 13px;
    line-height: 16px;
}
.price-product > span
{
    color: #b2b2b1;
}
.delete-product
{
    position: relative;
}
.delete-product a
{
    position: relative;

    display: block;

    width: 15px;
    height: 15px;
    margin: 0;
    padding: 0;
    padding-left: 10px;

    text-decoration: none;
    text-indent: -99999px;
}
.delete-product a::before
{
    position: absolute;
    top: 7px;
    right: 3px;

    width: 15px;
    height: 2px;
    padding: 0;

    content: '';
    transform: rotate(45deg);

    background-color: black;
}
.delete-product a::after
{
    position: absolute;
    top: 7px;
    right: 3px;

    width: 15px;
    height: 2px;
    padding: 0;

    content: '';
    transform: rotate(135deg);

    background-color: black;
}
.delete-product a:hover,
.delete-product a:active
{
    color: #e84d37;
}
.total-buy b
{
    display: block;

    margin-bottom: 17px;
}
.total-buy
{
    margin-bottom: 12px;

    text-align: right;
}
.total-buy > .btn
{
    font-size: 18px;
    line-height: 24px;

    padding: 10px 15px;

    color: white;
    border: none;
    border-radius: 16px;
}
.main-menu
{
    display: flex;
}
.popup-search,
.popup-basket,
.popup-login
{
    display: none;
}
.user-block
{
    position: relative;
}
.header-contacts
{
    position: absolute;
    top: 100%;
    right: 0;

    margin-top: 12px;

    text-align: right;
}
.header-contacts p
{
    margin: 0;
    font-size: 14px;
    line-height: 16px;
        margin-bottom: 5px;
    color: white;
}
.header-contacts a
{
    font-size: 22px;
    line-height: 24px;

    margin: 0;
    padding: 0;

    text-decoration: none;

    color: white;
}
.header-contacts a:hover,
.header-contacts a:active
{
    color: #ffbc9e;
}
.invitation
{
    position: relative;

    margin: auto;
    margin-top: 316px;
    margin-bottom: 40px;

    text-align: center;
}
.invitation h1
{
    font-size: 60px;
    line-height: 60px;

    width: 700px;
    margin: 0 auto 30px auto;

    text-align: center;
}
.slide-radio,
.fat input[type=radio]
{
    display: none;
}
.invitation-radio
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;

    padding: 0;

    list-style-type: none;
}
.invitation-radio li
{
    padding-right: 9px;
}
.invitation label
{
    display: inline-block;

    width: 20px;
    height: 20px;

    cursor: pointer;
    vertical-align: top;

    border-radius: 50%;
    box-shadow: inset 0 0 0 2px white;
}
.invitation label:hover
{
    background-color: rgba(255,255,255,.4);
    box-shadow: inset 0 0 0 2px white;
}
.invitation .btn
{
    font-size: 32px;
    line-height: 44px;

    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;

    border-radius: 30px;
}
.btn:hover
{
    background-image: linear-gradient(to top, rgb(236,111,94) 0%, rgb(245,134,105) 100%);
    box-shadow: 0 2px 2px 0 #ac1000;
}
.btn:active
{
    background-image: linear-gradient(to bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: inset 0 2px 2px 0 #ac1000;
}
.btn
{
    display: inline-block;

    vertical-align: middle;
    text-decoration: none;

    color: #fff;
    background: #eb553a;
    background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, .64);
}
/* баннеры с описание*/
.banners
{
    display: flex;

    margin-bottom: 40px;

    justify-content: space-between;
    align-items: stretch;
}
.banner
{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 49%;
    padding-top: 16px;
    padding-right: 17px;
    padding-left: 17px;

    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.raspberries-free
{
    background-color: #b80432;
    background-image: url(../img/raspberry-background.png);
}
.chocolate-free
{
    background-color: #432617;
    background-image: url(../img/chocolate-background.png);
}
.banner p
{
    font-size: 18px;

    margin: 0;
    margin-bottom: 22px;

    color: white;
}
.banner .btn
{
    font-size: 18px;
    line-height: 24px;

    margin-top: auto;
    margin-top: 25px;
    margin-bottom: 22px;
    padding-top: 10px;
    padding-right: 22px;
    padding-bottom: 10px;
    padding-left: 22px;

    text-align: center;

    border-radius: 19px;

    align-self: flex-end;
}
/* хиты */
.hits
{
  margin-bottom: 10px;
    display: flex;

    justify-content: space-between;
    align-items: stretch;
}
.hits article::after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    content: '';

    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -181px -5px;
}
.price
{
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;

    display: block;

    margin: 0;
    margin-bottom: 20px;

    text-align: left;

    color: white;
    text-shadow: 0 1px 3px rgba(49, 50, 53, .5);
}
/* преимущества */
.features
{
    margin-bottom: 40px;
    padding-top: 26px;
    padding-right: 16px;
    padding-bottom: 24px;
    padding-left: 16px;

    border-radius: 13px;
    background-color: #f1e6d1;
    background-image: url(../img/wafer.jpg);
}
.features b
{
    font-size: 24px;
    line-height: 30px;
}
.features-list
{
    display: flex;

    margin: 0;
    padding: 0;

    list-style-type: none;

    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feature-item
{
    position: relative;

    box-sizing: border-box;
    width: 49%;
    padding-left: 55px;

    background-position: center;
    background-size: cover;
}
.feature-item p
{
    margin: 0;
    margin-top: 22px;
}
.feature-item:first-of-type::before
{
    position: absolute;
    top: 8px;
    left: 0;

    width: 50px;
    height: 50px;

    content: '';

    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -5px -64px;
}
.feature-item:nth-child(2)::before
{
    position: absolute;
    top: 8px;
    left: 0;

    width: 50px;
    height: 50px;

    content: '';

    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -78px -5px;
}
.feature-item:nth-child(3)::before
{
    position: absolute;
    top: 8px;
    left: 0;

    width: 50px;
    height: 50px;

    content: '';

    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -64px -64px;
}
.feature-item:nth-child(4)::before
{
    position: absolute;
    top: 8px;
    left: 0;

    width: 50px;
    height: 50px;

    content: '';

    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -123px -64px;
}
/* новости и подписка*/
.index-content
{
    display: flex;

    margin-bottom: 40px;

    justify-content: space-between;
}
.index-content-title
{
    text-decoration: none;

    color: #323232;
}
.news
{
    box-sizing: border-box;
    width: 49%;
    padding-top: 22px;
    padding-left: 19px;

    border-radius: 14px;
    background-color: #fff;
    background-image: url(../img/strawberry-background.png);
    background-position: center;
    background-size: cover;
}
.news a
{
    font-size: 24px;
    line-height: 30px;

    display: inline;

    color: #393939;
    background: rgba(255,255,255,.5);
}
.subscriptions
{
    box-sizing: border-box;
    width: 49%;
    height: 100%;
    padding: 6px;

    border-radius: 14px;
    background-color: #f8f7f4;
    background-image: url(../img/mail-border-background.png);
    background-position: center;
    background-size: cover;
}
.subscription-form
{
    padding-top: 28px;
    padding-right: 20px;
    padding-bottom: 36px;
    padding-left: 25px;

    color: #5a5a5a;
    border-radius: 10px;
    background: #f8f7f4;
}
.subscription-form label
{
    display: inline-block;

    margin-bottom: 33px;

    vertical-align: middle;
}
.subscriptions button
{
    font-size: 18px;
    line-height: 24px;

    width: 129px;
    padding-top: 10px;
    padding-bottom: 10px;

    border: none;
    border-radius: 21px;
}
.subscriptions input
{
    font-size: 16px;
    line-height: 24px;

    box-sizing: border-box;
    width: calc(100% - 139px);
    margin-right: 6px;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 15px;

    border: 1px solid #d3d3d2;
    border-radius: 4px;
}
/* карта и котакты*/
.map
{
    overflow: hidden;

    margin-right: -2.22%;
    margin-left: -2.22%;

    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.contacts
{
    position: absolute;
    top: 50%;
    right: 0;

    padding-top: 30px;
    padding-right: 25px;
    padding-bottom: 30px;
    padding-left: 20px;

    transform: translateY(-50%);

    border-radius: 12px;
    background: white;
}
.map-contacts
{
    position: relative;
}
.contacts p
{
    font-size: 14px;
    line-height: 20px;

    margin: 0;
    margin-bottom: 5px;
}
.contacts b
{
    font-size: 18px;
    line-height: 24px;
}
.contacts .address
{
    display: inline-block;

    margin-bottom: 25px;

    vertical-align: middle;
}
.contacts .btn
{
    font-size: 18px;
    line-height: 24px;

    margin-top: 27px;
    padding-top: 10px;
    padding-right: 28px;
    padding-bottom: 10px;
    padding-left: 28px;

    text-align: center;

    border-radius: 27px;
}
/* футер */
.inner .main-footer
{
    margin-top: 50px;
}
.main-footer
{
    position: relative;

    display: flex;

    margin-top: 12px;
    padding-bottom: 20px;

    justify-content: space-between;
}
.inner main::after
{
    position: absolute;

    width: 100%;
    height: 1px;

    content: '';

    background-color: #a9bbb1;
}
.footer-social
{
    display: flex;

    margin: 0;
    margin-top: 20px;
    margin-left: 3px;
    padding: 0;

    list-style-type: none;
}
.social-btn
{
    position: relative;

    width: 32px;
    height: 32px;
    margin-right: 16px;

    border-radius: 50%;
    box-shadow: 0 0 0 3px rgba(255,255,255, .502);
}
.social-btn a
{
    font-size: 0;
    line-height: 0;

    text-indent: -999999px;
}
.social-btn a::before
{
    position: absolute;

    width: 32px;
    height: 32px;

    content: '';

    opacity: .8;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}
.social-btn:hover a::before
{
    position: absolute;

    width: 32px;
    height: 32px;

    content: '';

    opacity: 1;
}
.social-btn-twitter a::before
{
    background-position: -0 -171px;
}
.social-btn-inst a::before
{
    background-position: -65px -171px;
}
.social-btn-fb a::before
{
    background-position: -33px -171px;
}
.social-btn-vk a::before
{
    background-position: -97px -171px;
}
.social-btn:active a::before
{
    opacity: .8;
    border-radius: 50%;
    box-shadow: inset 0 2px 1px 0 rgba(0,0,0,.4);
}
.footer-documents
{
    margin: 0;
    margin-top: 12px;
    margin-left: 45px;
    padding: 0;

    list-style-type: none;

    column-count: 2;
}
.footer-documents a
{
    font-size: 13px;
    line-height: 16px;

    padding-left: 25px;

    color: white;
}
.footer-documents a:hover,
.footer-documents a:active
{
    color: #ffbc9e;
}
.document-item:first-child a
{
    position: relative;
}
.document-item:first-child a::before
{
    position: absolute;
    top: 1px;
    left: 0;

    width: 15px;
    height: 13px;

    content: '';

    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: -5px -35px;
}
.footer-copyright {
  margin-right: -5px;
  margin-left: 10px;
}
.footer-copyright p
{
    font-size: 12px;
    line-height: 16px;

    margin: 0;

    color: white;
}
.footer-copyright a
{
    color: white;
}
.footer-copyright a:hover,
.footer-copyright a:active
{
    color: #ffbc9e;
}
/* хлебные крошки */
.breadcrumbs h1
{
    font-size: 35px;
    line-height: 41px;

    margin-bottom: 35px;
    padding: 0;
}
.breadcrumbs
{
    display: inline-block;

    margin: 0;
    margin-top: 14px;
    margin-bottom: 2px;
    padding: 0;

    vertical-align: middle;
}
.breadcrumbs li
{
    display: inline-block;

    vertical-align: middle;
}
.breadcrumbs a
{
    font-size: 14px;
    line-height: 16px;

    color: white;
}
.breadcrumbs a[href]
{
    text-decoration: none;

    border-bottom: 1px solid rgba(255,255,255,.4);
}
.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:active
{
    color: #ffbc9e;
    border-bottom: 1px solid rgba(255,188,158,.4);
}
.breadcrumbs li::before
{
    margin-right: 2px;
    margin-left: 3px;

    content: '»';

    color: #fff;
}
.breadcrumbs li:first-child::before
{
    display: none;
}
/* фильтры */
fieldset
{
    position: relative;

    margin: 0;
    padding: 0;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px;

    border: none;
    border-radius: 18px;
    background: #a8b9af;
}
.field
{
    margin: 0;
    margin-bottom: 15px;

    color: white;
}
.field p
{
    font-size: 14px;
    line-height: 16px;

    margin: 0;
    margin-bottom: 8px;
    margin-left: 14px;

    color: white;
}
.toppings label
{
    padding-right: 2%;
}
.toppings input[type=checkbox]
{
    margin-right: 1%;
}
.filters
{
    display: flex;

    width: 866px;
    margin-bottom: 20px;

    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.filters button
{
    line-height: 18px;

    width: 144px;
    margin-top: 6px;
    padding-top: 8px;
    padding-bottom: 8px;

    cursor: pointer;

    color: white;
    border: 2px solid #f6f8f7;
    border-radius: 18px;
    background: #a8b9af;

    align-self: center;
}
.filters button:hover
{
    color: black;
    background: white;
}
.filters button:active
{
    color: black;
    border: none;
    background-color: rgb(237, 237, 237);
    box-shadow: inset 0 2px 5px -1px black;
}
.order
{
    display: inline-block;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    vertical-align: middle;
}
.order select
{
    font-size: 16px;
    line-height: 18px;

    position: relative;

    margin: 0;
    padding-top: 9px;
    padding-right: 30px;
    padding-bottom: 9px;
    padding-left: 15px;

    cursor: pointer;

    color: white;
    border: none;
    border-radius: 18px;
    outline: none;
    background: #a8b9af;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAATUlEQVQImW3KMQ2AMBRF0U8QwETCiA4sYAYXiMEEWGGvABYOC02apm+87wRmJO3dGAOBFW8FHiyIjAJ7hbb8lajH+YMDXQsFJlwYyv4BGq+aPAAlmvQAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: 167px 17px;

    -webkit-appearance: none;
}
.order select::-ms-expand
{
    display: none;
}
.order:hover select
{
    color: black;
    background: white;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFCAYAAACXU8ZrAAAAXklEQVQImWXNsQ2EMABD0UdGYAJ2yDJXUbEDDQtcyR60NwAUdOyARMkGSIhrghSBK8v+sosYY4UFpbc2xIAVNa4HcOCDPaTgh+8DajFDyMIOY/ID+rvIoTPNT2jy+z+mYA+hzLToeQAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: 167px 17px;
}
.range-price
{
    box-sizing: border-box;
    min-width: 218px;
}
.range-controls
{
    position: relative;

    padding-top: 9px;
    padding-bottom: 9px;

    border-radius: 5px;
}
.range-controls .scale
{
    height: 4px;

    background: rgba(248, 247, 244, .5);
}
.range-controls .bar
{
    width: 70%;
    height: 4px;

    background: rgb(248, 247, 244);
}
.range-controls .toggle
{
    position: absolute;
    top: 2px;
    left: 0;

    width: 20px;
    height: 20px;

    cursor: pointer;

    border-radius: 50%;
    background: white;
}
.range-controls .toggle:hover
{
    border: 1px solid white;
}
.range-controls .toggle-min
{
    left: 19px;
}
.range-controls .toggle-max
{
    left: 117px;
}
.fat > label
{
    line-height: 18px;

    position: relative;

    padding: 0;
    padding-right: 14px;
    padding-left: 35px;
}
.fat > label:last-of-type
{
    margin: 0;
    padding-right: 0;
}

.fat .indicator-radio
{
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    cursor: pointer;

    border-radius: 50%;
    box-shadow: inset 0 0 0 1px white;
}
.fatness:checked + .indicator-radio::before
{
    position: absolute;
    top: 5px;
    left: 5px;

    width: 10px;
    height: 10px;

    content: '';
    content: '';

    border-radius: 50%;
    background: white;
}
.fat label:hover .indicator-radio
{
    box-shadow: inset 0 0 0 2px white;
}
.fatness:disabled + .indicator-radio
{
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.4);
}
.fatness:disabled + .indicator-radio::before
{
    background: rgba(255,255,255,.4);
}
.toppings input
{
    display: none;
}
.toppings label
{
    line-height: 18px;

    position: relative;

    padding: 0;
    padding-right: 13px;
    padding-left: 35px;
}
.toppings > label:last-of-type
{
    padding-right: 0;
}
.toppings .indicator-checkbox
{
    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    cursor: pointer;

    border-radius: 4px;
    box-shadow: inset 0 0 0 1px white;
}
.topping:checked + .indicator-checkbox::before
{
    position: absolute;
    top: 8px;
    left: 7px;

    width: 10px;
    height: 2px;

    content: '';
    transform: rotate(-45deg);

    background: white;
}
.topping:checked + .indicator-checkbox::after
{
    position: absolute;
    top: 9px;
    left: 4px;

    width: 6px;
    height: 2px;

    content: '';
    transform: rotate(45deg);

    background: white;
}

.toppings label:hover .indicator-checkbox
{
    box-shadow: inset 0 0 0 2px white;
}
.topping:disabled + .indicator-checkbox
{
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.4);
}
.topping:disabled + .indicator-checkbox::before,
.topping:disabled + .indicator-checkbox::after
{
    background: rgba(255,255,255,.4);
}
/* каталог */
.catalog
{
    z-index: 1;

    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}
.catalog-item
{
    position: relative;

    width: 23.3%;
    margin-bottom: 25px;
    padding-top: 5px;

    text-align: center;
}
.catalog-item img
{
    width: 100%;
    height: auto;
    margin-bottom: -60px;
}
.hits img
{
    width: 100%;
    height: auto;
    margin-bottom: -65px;
}
.catalog-item .btn
{
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;

    position: absolute;
    z-index: 1;
    left: 42px;

    display: none;

    width: 70.5%;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 16px;
}
.catalog-item::before
{
    position: absolute;
    z-index: 1;
    top: 0;
    right: -4.8%;
    bottom: -66px;
    left: -4.8%;

    display: none;

    content: '';

    border-radius: 4px;
    background: rgba(255,255,255, .3);
}
.catalog-item:hover
{
    cursor: pointer;
}
.catalog-item:hover h3
{
    text-decoration: none;
}
.catalog-item:hover::before
{
    display: block;
}
.catalog-item:hover .btn
{
    display: inline-block;

    vertical-align: middle;
}
/* переключалка станиц */
.n-page
{
    display: flex;

    margin: 0;
    margin-top: 57px;
    margin-bottom: 30px;
    padding: 0;

    list-style-type: none;

    justify-content: flex-end;
}
.n-page .page-prev
{
   margin-right: 5px;

    text-indent: -9999px;

    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOCAYAAAD9lDaoAAAAfElEQVQokYXRsQ3CQAxG4SeULgOkoDzRZB2qtNkFNmGPUDIHE1DQ0DyK3EknLiaWXFj69Eu2UQk6qbNKx3YlYAGOwCtKeLrWXe13gcouqFEICjr9AyoHYASGvNUDeDe7Zn1WPznt8ptUDzW8RiiEW8dsYPS3Gk4RKvCmdl9NvWREobQpUQAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: 10px 5px;
}
.n-page .page-next
{
    margin-left: 5px;

    text-indent: -9999px;

    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAOCAYAAAD9lDaoAAAAdklEQVQokX3PsQ2AMAxE0YOCjp42EsuwAi0F67AGezAAI8AOFHSfgkSKkjiWLF3xbMsCBKyA8zlrATN/XRYU0ANHDYZQhfGECdP7RVj6JoY34Frl9Ug6fR4kjemWBtj8lheY0nNFECMTBFQFAS01EFAH7BYA9AEqcn+KAVfNHgAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: 18px 6px;
}
.n-page li:hover a:not(.current):not(.disabled)
{
    border-radius: 50%;
    background-color: rgba(255,255,255,.2);
}
.n-page li:last-child
{
    padding: 0;
}
.n-page a
{
    font-size: 16px;
    line-height: 18px;

    display: inline-block;

    margin-left: 3px;
    min-width: 26px;
    height: 16px;
    padding-top: 5px;
    padding-bottom: 5px;

    text-align: center;
    vertical-align: middle;
    vertical-align: middle;
    text-decoration: none;

    color: white;
}
.n-page .current
{
    color: black;
    border-radius: 50%;
    background-color: white;
}
.n-page .disabled
{
    opacity: .3;
}
.popup-feedback
{
    font-size: 13px;
    line-height: 24px;

    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;

    display: none;

    box-sizing: border-box;
    width: 478px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 27px;
    padding-left: 25px;

    transform: translateX(-50%) translateY(-50%);
    animation: bounce .6s;

    border-radius: 6px;
    background-color: #f8f7f4;
}
.popup-feedback-overlay
{
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    background: rgba(0, 0, 0, .5);
}
.popup-show
{
    display: block;
}
.popup-feedback-error
{
    animation: shake .6s;
}
.popup-feedback b
{
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;

    display: inline-block;

    margin-bottom: 25px;

    vertical-align: middle;
}
.popup-feedback input
{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    box-sizing: border-box;
    width: 267px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
.popup-feedback-label
{
    font-size: 11px;
    line-height: 13px;

    position: absolute;

    display: none;

    margin-top: -81px;
    margin-left: 15px;
}
.change-label
{
    display: block;

    color: #b2b2b1;
}
.feedback-name:focus + label,
.feedback-email:focus + label
{
    display: block;

    color: #5b9ddf;
}
.popup-feedback input:hover:not(:focus),
.popup-feedback textarea:hover:not(:focus)
{
    box-shadow: 0 0 0 1px #d3d3d2;
}
.popup-feedback textarea
{
    font-size: 16px;
    line-height: 24px;

    box-sizing: border-box;
    width: 428px;
    height: 155px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-left: 15px;

    resize: none;

    border: 1px solid #d3d3d2;
    outline: none;
}
.popup-feedback .btn-push
{
    font-size: 18px;
    line-height: 24px;

    float: right;

    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 24px;

    border: none;
    border-radius: 15px;
}
.popup-feedback .exit
{
    position: relative;

    display: inline-block;

    width: 17px;
    height: 28px;
    margin: 0;
    margin-left: 59px;
    padding: 0;

    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    text-indent: -99999px;

    border: none;
    background: none;
}
.popup-feedback .exit::before
{
    position: absolute;
    left: 1px;

    width: 15px;
    height: 2px;
    padding: 0;

    content: '';
    transform: rotate(45deg);

    background-color: black;
}
.popup-feedback .exit::after
{
    position: absolute;
    left: 0;

    width: 15px;
    height: 2px;
    padding: 0;

    content: '';
    transform: rotate(135deg);

    background-color: black;
}
@keyframes bounce
{
    0%
    {
        transform: translateX(-50%) translateY(-100%);
    }
    70%
    {
        transform: translateX(-50%) translateY(-20%);
    }
    90%
    {
        transform: translateX(-50%) translateY(-60%);
    }
    100%
    {
        transform: translateX(-50%) translateY(-50%);
    }
}
@keyframes shake
{
    0%,
    100%
    {
        transform: translateX(-50%);
    }
    10%,
    30%,
    50%,
    70%,
    90%
    {
        transform: translateX(-55%);
    }
    20%,
    40%,
    60%,
    80%
    {
        transform: translateX(-45%);
    }
}
button
{
    outline: none;
}
