/*@font-face{
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('ttf'),
       url('../fonts/Roboto-Bold.ttf') format('ttf'),
       url('../fonts/Roboto-Medium.ttf') format('ttf');
}*/
body {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-family: "Roboto", "Arial";
  min-width: 900px;
}
h1 {
  font-weight: bold;
  padding-bottom: 40px;
  margin: 0;
  color: white;
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 35px;
  padding: 0;
}
.inner h1 {
  margin-bottom: 22px;
}
h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-bottom: 15px;
}
h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 22px;
  color: white;
  font-weight: normal;
  text-decoration: underline;
}
.inner main {
  position: relative;
}
.wrapper {
  background: #849d8f;
}
#background-1:checked ~ .wrapper {
  background: #849d8f;
  background-image: url(../img/index-background1.png);
  background-position: top center;
  background-repeat: no-repeat;
}
#background-1:checked ~ .wrapper label[for=background-1] {
  box-shadow: inset 0px 0px 0px 2px white;
  background: white;
}
#background-2:checked ~ .wrapper {
  background: #8996a6;
  background-image: url(../img/index-background2.png);
  background-position: top center;
  background-repeat: no-repeat;
}
#background-2:checked ~ .wrapper label[for=background-2] {
  box-shadow: inset 0px 0px 0px 2px white;
  background: white;
}
#background-3:checked ~ .wrapper {
  background: #9d8b84;
  background-image: url(../img/index-background3.png);
  background-position: top center;
  background-repeat: no-repeat;
}
#background-3:checked ~ .wrapper label[for=background-3] {
  box-shadow: inset 0px 0px 0px 2px white;
  background: white;
}
.main-page {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2.2%;
  padding-right: 2.2%;
  box-sizing: border-box;
}
/* шапка */
.header-logo {
  margin-left: -6px;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 10px;
}
.nav-list {
  padding: 0;
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-top: 21px;
}
.nav-list > .active > a {
  background-color: #d07058;
  border-radius: 13px;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 7px;
}
.nav-list > li {
  position: relative;
  padding-bottom: 10px;
}
.nav-list > li:first-of-type {
  margin-left: 16px;
}
.nav-list li a {
  text-decoration: none;
  color: white;
  position: relative;
  padding-right: 14px;
  padding-left: 14px;
  line-height: 18px;
  text-decoration: underline;
  top: -4px;
}
.nav-list > li:hover > a {
  background-color: #f7f6f3;
  border-radius: 13px;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 7px;
  top: -4px;
}
.nav-list > li:active > a{
  color: #333;
  border-radius: 13px;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 7px;
  top: -4px;
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px 0px #696969;
}
.nav-list > li:hover a {
  color: #333;
}
.nav-list > li:hover .sub-nav-list {
  display: block;
}
.sub-nav-list {
  padding: 0;
  background: white;
  top: 50%;
  transform: translateY(6%);
  left: -7px;
  border-radius: 5px;
  display: none;
  list-style-type: none;
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
}
.sub-nav-list > .active {
  background-color: #d07058;
}
.sub-nav-list li {
  padding-left: 15px;
  box-sizing: border-box;
}
.sub-nav-list > li:hover {
  background-color: #fbded7;
}
.sub-nav-list > li:active {
  background-color: #f6b5a5;
}
.sub-nav-list > li:visited {
  background-color: #d07058;
}
.sub-nav-list a {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  width: 101px;
}
.sub-nav-list li:first-of-type {
  position: relative;
}
.sub-nav-list li:first-of-type a{
  font-weight: bold;
}
.sub-nav-list li:first-of-type::before {
  content : "";
  position: absolute;
  left: 5px;
  bottom: 0;
  height: 1px;
  width: 132px;
  border-bottom: 1px solid #d1d0ce;
}
.user-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-top: 12px;
}
.user-list li {
  margin-left: 10px;
  padding-bottom: 15px;
}
.user-list li > a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.search {
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 32px;
  background-image: url(../img/sprite-icon.png);
  background-repeat: no-repeat;
  background-position: -24px -126px;

}
.search a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.2);
  display: inline-block;
}
.search:hover > a {
  background-color: #f8f7f4;
  background-image: url(../img/sprite-icon.png);
  background-repeat: no-repeat;
  background-position: 3px -127px;
  box-shadow: none;
}
.search:hover > .popup {
  display: block;
}
.search > .popup {
  width: 343px;
  right: 0;
  top: 50%;
  transform: translateY(14%);
  position: absolute;
  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 6px;
}
.search > .popup input {
  border: 1px solid #d3d3d2;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
}
.search > .popup button {
  display: none;
}
.login {
  position: relative;
}
.login > a {
  border-radius: 14px;
  box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,0);
  background-color: rgba(255,255,255,0.2);
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  padding-left: 44px;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 9px;
}
.login > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  width: 27px;
  height: 25px;
  background-image: url(../img/sprite-icon.png);
  background-repeat: no-repeat;
  background-position: -217px -99px;
}
.login:hover > a{
  background-color: #f8f7f4;
  box-shadow: none;
  color: #373737;
}
.login:hover > a::before {
  background-image: url(../img/sprite-icon.png);
  background-position: -216px -70px;
}
.login:hover > .popup-login {
  display: block;
}
.popup-login {
  width: 277px;
  right: 0;
  top: 50%;
  transform: translateY(6%);
  position: absolute;
  background-color: #f8f7f4;
  padding: 20px 15px;
  border-radius: 6px;
  z-index: 1;
  font-size: 13px;
  line-height: 24px;
}
.popup-login input {
  border: 1px solid #d3d3d2;
  display: inline-grid;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 20px
}
.popup-login button {
  border: none;
  width: 100px;
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
}
.login-and-authorizes {
  display: flex;
  justify-content: space-between;
}
.authorize-links a {
  color: #323232;
  padding: 0;
  display: block;
}
.authorize-links a:hover, .authorize-links a:active {
  color: #e84d37;
}
.basket {
  position: relative;
}
.basket > a {
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
  display: inline-block;
  padding-left: 44px;
  padding-right: 35px;
  padding-top: 7px;
  padding-bottom: 9px;
  border-radius: 14px;
  box-shadow: inset 0px 0px 0px 2px rgba(255,255,255);
  background-color: rgba(255,255,255,0.2);
}
.basket > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  width: 31px;
  height: 27px;
  background-image: url(../img/sprite-icon.png);
  background-repeat: no-repeat;
  background-position: 5px 1px;
}
.full-basket > a {
  background-color: #f8f7f4;
  box-shadow: none;
}
li.full-basket > a {
  color: #313131;
}
.full-basket > a:before {
  background-image: url(../img/sprite-icon.png);
  background-repeat: no-repeat;
  background-position: -126px 1px;
}
.full-basket:hover > .popup-basket {
  display: block;
  box-sizing: border-box;
}
.popup-basket {
  background-color: #f8f7f4;
  width: 540px;
  right: 0;
  top: 50%;
  transform: translateY(6%);
  position: absolute;
  padding: 20px 15px;
  border-radius: 6px;
  z-index: 1;
}
.product-list {
  margin-bottom: 30px;
  width: 100%;
}
.product-list td {
  vertical-align: middle;
}
.product-list::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 510px;
  border-bottom: 1px solid #d1d0ce;
  margin-top: 20px;
}
.name-product {
  width: 218px;
  padding-right: 30px;
}
.name-product, .price-product, .cost {
  font-size: 13px;
  line-height: 16px;
}
.price-product > span {
  color: #b2b2b1;
}
.delete-product {
  position: relative;
}
.delete-product a {
  text-decoration: none;
  position: relative;
  width: 15px;
  height: 15px;
  padding: 0;
  padding-left: 10px;
  display: block;
  text-indent: -99999px;
  margin: 0;

}
.delete-product a::before {
  position: absolute;
  width: 15px;
  height: 2px;
  top: 7px;
  right: 3px;
  content: "";
  padding: 0;
  background-color: black;
  transform: rotate(45deg);
}
.delete-product a::after {
  position: absolute;
  width: 15px;
  height: 2px;
  top: 7px;
  right: 3px;
  content: "";
  padding: 0;
  background-color: black;
  transform: rotate(135deg);
}
.delete-product a:hover, .delete-product a:active {
  color: #e84d37;
}
.total-buy b {
  display: block;
  margin-bottom: 17px;
}
.total-buy {
  text-align: right;
  margin-bottom: 12px;
}
.total-buy > .btn {
  font-size: 18px;
  line-height: 24px;
  border-radius: 16px;
  color: white;
  padding: 10px 15px;
}
.main-menu{
  display: flex;
}
.popup, .popup-basket, .popup-login {
  display: none;
}
.user-block {
  position: relative;
}
.header-contacts {
  text-align: right;
  position: absolute;
  top: 100%;
  right: 0;
}
.header-contacts p {
  margin: 0;
  color: white;
}
.header-contacts a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
  line-height: 24px;
  font-size: 22px;
}
.header-contacts a:hover, .header-contacts a:active {
  color: #ffbc9e;
}
.invitation {
  margin: auto;
  margin-top: 316px;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
.invitation h1 {
  width: 700px;
  font-size: 60px;
  text-align: center;
  line-height: 60px;
  margin: 0 auto 30px auto;
}
.slide-radio, .fat input[type=radio] {
  display: none;
}
.invitation ul {
  list-style-type: none;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0;
}
.invitation ul li {
  padding-right: 9px;
}
.invitation label {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 2px white;
}
.invitation label:hover {
  background-color: rgba(255,255,255,0.4);
  box-shadow: inset 0px 0px 0px 2px white;
}
.invitation .btn {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 30px;
  font-size: 32px;
  line-height: 44px;
  box-sizing: border-box;
}
.btn:hover {
  background-image: linear-gradient(to top, rgb(236,111,94) 0%, rgb(245,134,105) 100%);
  box-shadow: 0px 2px 2px 0px #ac1000;
}
.btn:active {
  background-image: linear-gradient(to bottom, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: inset 0px 2px 2px 0px #ac1000;
}
.btn {
  display: inline-block;
  background: #eb553a;
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
/* баннеры с описание*/
.banners {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 40px;
}
.banner {
  width: 49%;
  background-position: center;
  background-size: cover;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 16px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
}
.raspberries-free {
  background-image: url(../img/raspberry-background.png);
}
.chocolate-free {
  background-image: url(../img/chocolate-background.png);
}
.banner p {
  margin: 0;
  font-size: 18px;
  color: white;
  margin-bottom: 22px;
}
.banner .btn {
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 19px;
  align-self: flex-end;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 22px;
}
/* хиты */
.hits {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
  align-items: stretch;
}
.price {
  line-height: 45px;
  font-size: 36px;
  color: white;
  margin: 0;
  font-weight: 500;
  margin-bottom: 27px;
  margin-left: -105px;
  display: inline-block;
  letter-spacing: 2px;
}
/* преимущества */
.features {
  background-image: url(../img/wafer.jpg);
  border-radius: 13px;
  padding-top: 24px;
  padding-left: 18px;
  padding-right: 30px;
  margin-bottom: 40px;
}
.features b {
  font-size: 24px;
  line-height: 30px;
}
.features-list {
  padding: 0;
  display: flex;
  align-items: stretch;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 11px;
}
.feature-item {
  background-position: center;
  background-size: cover;
  width: 44.6%;
  box-sizing: border-box;
  position: relative;
  padding-left: 55px;
}
.feature-item:first-of-type::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 50px;
  height: 50px;
  background-image: url(../img/sprite-icon.png);
  background-repeat: no-repeat;
  background-position: -5px -64px;
}
.feature-item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 50px;
  height: 50px;
  background-image: url(../img/sprite-icon.png);
  background-repeat: no-repeat;
  background-position: -78px -5px;
}
.feature-item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 50px;
  height: 50px;
  background-image: url(../img/sprite-icon.png);
  background-repeat: no-repeat;
  background-position: -64px -64px;
}
.feature-item:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 50px;
  height: 50px;
  background-image: url(../img/sprite-icon.png);
  background-repeat: no-repeat;
  background-position: -123px -64px;
}
/* новости и подписка*/
.index-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.news {
  width: 49%;
  background-position: center;
  background-size: cover;
  background-image: url(../img/strawberry-background.png);
  box-sizing: border-box;
  padding-top: 27px;
  padding-left: 20px;
  border-radius: 14px;
}
.news a {
  display: inline-block;
  width: 300px;
  font-size: 24px;
  line-height: 30px;
  color: black;
}
.subscriptions {
  width: 49%;
  background-position: center;
  background-size: cover;
  background-image: url(../img/mail-border-background.png);
  box-sizing: border-box;
  padding: 6px;
  border-radius: 14px;
}
.subscriptions form {
  background: #f8f7f4;
  border-radius: 10px;
  padding-top: 33px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 36px;
  color: #5a5a5a;
}
.subscriptions form label {
  display: inline-block;
  margin-bottom: 27px;
}
.subscriptions button {
  font-size: 18px;
  line-height: 24px;
  width: 129px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 21px;
  border: none;
}
.subscriptions input {
  width: 71.8%; /* не могу посчитать... если уменьшат экран, то поле не пропорционально уменьшается*/
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 0;
  font-size: 16px;
  line-height: 24px;
  box-sizing: border-box;
  margin-right: 6px;
}
/* карта и котакты*/
.map {
  margin-left: -2.22%;
  margin-right: -2.22%;
  overflow: hidden;
}
.contacts {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.map-contacts {
  position: relative;
}
.contacts p {
  margin: 0;
}
.contacts .btn {
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 27px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin-top: 27px;
}
/* футер */
.inner .main-footer {
  margin-top: 50px;
}
.main-footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  padding-bottom: 20px;
}
.inner main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #a9bbb1;
}
.footer-social {
  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-left: 3px;
  list-style-type: none;
  display: flex;

}
.social-btn {
  width: 32px;
  height: 32px;
  position: relative;
  box-shadow: 0px 0px 0px 3px rgba(255,255,255, 0.502);
  border-radius: 50%;
  margin-right: 18px;
}
.social-btn a::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url(../img/sprite-icon.png);
  background-repeat: no-repeat;
}
.social-btn:hover a::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url(../img/sprite-icon2.png);
  background-repeat: no-repeat;
}
.social-btn-twitter:hover a::before {
  background-position: -86px -5px;
}
.social-btn-inst:hover a::before {
  background-position: -5px -47px;
}
.social-btn-fb:hover a::before {
  background-position: -43px -5px;
}
.social-btn-vk:hover a::before {
  background-position: -85px -47px;
}
.social-btn-twitter a::before {
  background-position: -60px -134px;
}
.social-btn-inst a::before {
  background-position: -181px -76px;
}
.social-btn-fb a::before {
  background-position: -36px -5px;
}
.social-btn-vk a::before {
  background-position: -181px -118px;
}
.social-btn:active a::before {
  border-radius: 50%;
  box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,0.4);
  opacity: 0.8;
}
.footer-documents {
  list-style-type: none;
  column-count: 2;
  padding: 0;
  margin: 0;
}
.footer-documents a {
  color: white;
  font-size: 13px;
  line-height: 16px;
  padding-left: 25px;
}
.footer-documents a:hover,
.footer-documents a:active {
  color: #ffbc9e;
}
.footer-documents li:first-child a{

  position: relative;
}
.footer-documents li:first-child a::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  top: 1px;
  left: 0px;
  background-image: url(../img/sprite-icon.png);
  background-repeat: no-repeat;
  background-position: -5px -35px;
 }
.footer-copyright p {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  color: white;
}
.footer-copyright a {
  color: white;
}
.footer-copyright a:hover,
.footer-copyright a:active {
  color: #ffbc9e;
}
/* хлебные крошки */
.breadcrumbs h1 {
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 35px;
  padding: 0;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-bottom: 2px;
  margin-top: 22px;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs a {
  color: white;
}
.breadcrumbs a[href]:hover,
.breadcrumbs a[href]:active {
  color: #e84d37;
}
.breadcrumbs li::before {
  content: '»';
  margin-left: 5px;
  margin-right: 5px;
  color: #ffffff;
 }
 .breadcrumbs li:first-child::before {
  display: none;
 }
/* фильтры */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
  background: #a8b9af;
  border-radius: 18px;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 15px;
  position: relative;
}
.field {
  margin: 0;
  color: white;
  margin-bottom: 9px;
}
.field p {
  font-size: 14px;
  line-height: 16px;
  color: white;
  margin: 0;
  margin-bottom: 9px;
  margin-left: 16px;
}
.toppings label {
  padding-right: 2%;
}
.toppings input[type=checkbox] {
  margin-right: 1%;
}
.filters {
  display: flex;
  width: 866px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}
.filters button {
  width: 144px;
  border: 2px solid #f6f8f7;
  border-radius: 18px;
  background: #a8b9af;
  padding-top: 8px;
  padding-bottom: 8px;
  color: white;
  align-self: center;
  margin-top: 15px;
  line-height: 18px;
}
.filters button:hover {
  background: white;
  color: black;
}
.filters button:active {
  background-color: rgb(237, 237, 237);
  color: black;
  border: none;
  box-shadow: inset 0px 2px 5px -1px black;
}
.order {
  width: 193px;
  box-sizing: border-box;
}
.order select {
  background: #a8b9af;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-appearance: none;
  outline: none;
}
.order::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 170px;
  width: 10px;
  height: 5px;
  background-image: url(../img/sprite-icon2.png);
  background-position: -47px -47px;
  background-repeat: no-repeat;
}
.order:hover {
  background: white;
}
.order:hover select {
  background: white;
  color: black;
}
.order:hover::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 170px;
  width: 10px;
  height: 5px;
  background-image: url(../img/sprite-icon2.png);
  background-position: -66px -47px;
  background-repeat: no-repeat;
}
.range-price {
  min-width: 218px;
  box-sizing: border-box;
}
.range-controls {
  position: relative;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 5px;
}
.range-controls .scale {
  height: 4px;
  background: rgba(248, 247, 244, 0.5);
}
.range-controls .bar {
  width: 70%;
  height: 4px;
  background: rgb(248, 247, 244);
}
.range-controls .toggle {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  background: white;
}
.range-controls .toggle-min {
  left: 19px;
}
.range-controls .toggle-max {
  left: 117px;
}
.fat > label {
  padding: 0;
  padding-left: 30px;
  position: relative;
  margin-right: 19px;
  line-height: 18px;
  position: relative;
}
.fat > label:last-of-type {
  margin: 0;
}

.fat .indicator-radio {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px white;
}
.fatness:checked + .indicator-radio::before {
  content: "";
  background: white;
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.fatness:disabled + .indicator-radio {
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.4);
}
.fatness:disabled + .indicator-radio::before {
  background: rgba(255,255,255,0.4);
}
.fat label:hover .indicator-radio {
  box-shadow: inset 0px 0px 0px 2px white;
}
.toppings input {
  display: none;
}
.toppings label {
  padding: 0;
  padding-left: 30px;
  position: relative;
  margin-right: 19px;
  line-height: 18px;
  position: relative;
}
.toppings > label:last-of-type {
  margin: 0;
}
.toppings .indicator-checkbox{
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 0px 1px white;
}
.topping:checked + .indicator-checkbox::before {
  background: white;
  content: "";
  position: absolute;
  top: 8px;
  left: 7px;
  width: 10px;
  height: 2px;
  transform: rotate(-45deg);
}
.topping:checked + .indicator-checkbox::after {
  background: white;
  content: "";
  position: absolute;
  top: 9px;
  left: 4px;
  width: 6px;
  height: 2px;
  transform: rotate(45deg);
}
.topping:disabled + .indicator-checkbox {
  box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.4);
}
.topping:disabled + .indicator-checkbox::before,
.topping:disabled + .indicator-checkbox::after {
  background: rgba(255,255,255,0.4);
}
.toppings label:hover .indicator-checkbox {
  box-shadow: inset 0px 0px 0px 2px white;
}
/* каталог */
.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
}
.catalog-item {
  flex: 23.3%;
  text-align: center;
  position: relative;
  padding-top: 5px;
}
.catalog-item img, .hit img {
  margin-bottom: -60px;
}
.catalog-item .btn {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 70.5%;
  border-radius: 16px;
  font-weight: normal;
  display: none;
  left: 42px;
  z-index: 1;
}
.catalog-item::before {
  content: "";
  background: rgba(255,255,255, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -66px;
  z-index: 1;
  display: none;
  border-radius: 4px;
}
.catalog-item:hover {
  cursor: pointer;
}
.catalog-item:hover h3 {
  text-decoration: none;
}
.catalog-item:hover::before {
  display: block;
}
.catalog-item:hover .btn {
  display: inline-block;
}
/* переключалка станиц */
.n-page {
  padding: 0;
  margin: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin-top: 107px;
  margin-bottom: 30px;
}
.n-page .page-prev {
  text-indent: -9999px;
  background-image: url(../img/sprite-icon2.png);
  background-repeat: no-repeat;
  background-position: 2px 2px;
  margin-right: 5px;
}
.n-page .page-next {
  text-indent: -9999px;
  background-image: url(../img/sprite-icon2.png);
  background-repeat: no-repeat;
  background-position: -17px 2px;
  margin-left: 5px;
}
.n-page li:hover a:not(.current):not(.disabled) {
  background-color: rgba(255,255,255,0.2);
  border-radius: 50%;
}
.n-page li:last-child {
  padding: 0;
}
.n-page a {
  font-size: 16px;
  line-height: 18px;
  color: white;
  display: inline-block;
  min-width: 26px;
  height: 16px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
}
.n-page .current {
  background-color: white;
  border-radius: 50%;
  color: black;
}
.n-page .disabled {
     opacity: 0.3;
}
.popup-feedback {
  width: 478px;
  box-sizing: border-box;
  left: 50%;
  margin-left: -239px;
  top: 30%;
  position: fixed;
  z-index: 20;
  background-color: #f8f7f4;
  padding-bottom: 27px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 15px;
  border-radius: 6px;
  font-size: 13px;
  line-height: 24px;
  display: none;
  animation: bounce 0.6s;
}
.popup-feedback-show {
  display: block;
}
.popup-feedback-error {
  animation: shake 0.6s;
}

.popup-feedback b {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 25px;
  display: inline-block;
}
.popup-feedback input {
  border: 1px solid #d3d3d2;
  width: 267px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 15px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 20px
}
.popup-feedback label {
  margin-left: 15px;
  color: #5b9ddf;
  font-size: 11px;
  line-height: 13px;
  margin-top: -81px;
  position: absolute;
  display: none;
}
#feedback-name:focus + label,
#feedback-email:focus + label {
  display: block;
}
.popup-feedback input:hover:not(:focus),
.popup-feedback textarea:hover:not(:focus) {
  box-shadow: 0px 0px 0px 1px #d3d3d2;
}
.popup-feedback textarea {
  width: 428px;
  font-size: 16px;
  line-height: 24px;
  outline: none;
  resize: none;
  border: 1px solid #d3d3d2;
  padding-top: 10px;
  padding-left: 15px;
  margin-bottom: 25px;
  height: 155px;
  box-sizing: border-box;
}
.popup-feedback .btn-push {
  border: none;
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 15px;
  float: right;
}
.popup-feedback .exit {
  text-decoration: none;
  position: relative;
  width: 17px;
  height: 28px;
  padding: 0;
  text-indent: -99999px;
  margin: 0;
  display: inline-block;
  margin-left: 59px;
  background: none;
  border: none;
  cursor: pointer;
}
.popup-feedback .exit::before {
  position: absolute;
  width: 15px;
  height: 2px;
  left: 0;
  content: "";
  padding: 0;
  background-color: black;
  transform: rotate(45deg);
}
.popup-feedback .exit::after {
  position: absolute;
  width: 15px;
  height: 2px;
  left: 0;
  content: "";
  padding: 0;
  background-color: black;
  transform: rotate(135deg);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
}
@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

button {
  outline: none;
}
