body {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-family: "Roboto", "Arial";
}
h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  padding-bottom: 40px;
  margin: 0;
  color: white;
}
h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: white;
  margin: 0;
  margin-bottom: 28px;
}
h3 {
  margin: 0;
  color: #323232;
  margin-bottom: 10px;
}
#background-1:checked ~ div {
  background: #849d8f;
  background-image: url(../img/index-background1.png);
  background-position: top center;
  background-repeat: no-repeat;
}
#background-2:checked ~ div {
  background: #8996a6;
  background-image: url(../img/index-background2.png);
  background-position: top center;
  background-repeat: no-repeat;
}
#background-3:checked ~ div {
  background: #9d8b84;
  background-image: url(../img/index-background3.png);
  background-position: top center;
  background-repeat: no-repeat;
}
.main-page {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  padding-left: 2.22%;
  padding-right: 2.22%;
  box-sizing: border-box;
}
/* шапка */
.header-logo {
  margin-left: -6px;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 10px;
}
.nav-list {
  padding: 0;
  display: flex;
  list-style-type: none;
}
.nav-list li {
  padding-right: 15px;
  padding-left: 15px;
}
.nav-list li a{
  text-decoration: none;
  color: white;
}
.user-list {
  display: flex;
  list-style-type: none;
  margin-bottom: 20px;
}
.user-list li {
  padding-left: 10px;
}
.user-list li a {
  text-decoration: none;
  color: white;
}
.sub-nav-list {
  display: none;
}
.main-menu{
  display: flex;
  z-index: 1;
}
.popup, .popup-feedback {
  display: none;
}
.user-block {
  position: relative;
}
.header-contacts {
  text-align: right;
  position: absolute;
  top: 100%;
  right: 0;
}
.header-contacts p {
  margin: 0;
  margin-bottom: 10px;
}
.header-contacts a {
  margin: 0;
}

.invitation {
  margin: auto;
  margin-top: 326px;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
input[type=radio] {
  display: none;
}
.invitation ul {
  list-style-type: none;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
}
.invitation ul li {
  padding-right: 5px;
}
.invitation .btn {
  width: 282px;
  padding-bottom: 18px;
  padding-top: 18px;
  border-radius: 30px;
}
.btn {
  display: inline-block;
  background: #eb553a;
  text-decoration: none;
  color: #ffffff;
  background-image: -webkit-linear-gradient(left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -o-linear-gradient(left, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: linear-gradient(to right, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
/* баннеры с описание*/
.banners {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 40px;
}
.banner {
  z-index: 1;
  width: 49%;
  background-position: center;
  background-size: cover;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 23px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-1 {
  background-image: url(../img/raspberry-background.png);
}
.banner-2 {
  background-image: url(../img/chocolate-background.png);
}
.banner p {
  margin: 0;
  font-size: 18px;
  color: white;
}
.banner .btn {
  width: 167px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 49px;
  margin-bottom: 23px;
  border-radius: 19px;
  align-self: flex-end;
}
/* хиты */
.hits {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.hit {
  flex: 23.3%;;
  text-align: center;
}
.hit a {
  color: #ffffff;
}
.price {
  line-height: 45px;
  font-size: 45px;
  color: white;
  margin: 0;
  margin-top: -60px;
  margin-bottom: 20px;
}
/* преимущества */
.features {
  background-image: url(../img/wafer.jpg);
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 30px;
  margin-bottom: 40px;
}
.features b {
  font-size: 24px;
  line-height: 30px;
}
.features-list {
  padding: 0;
  display: flex;
  align-items: stretch;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feature-item {
  background-position: center;
  background-size: cover;
  width: 510px; /* пока что, потом когда добавим иконки поменяется*/
}
/* новости и подписка*/
.index-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.news {
  width: 560px;
  background-position: center;
  background-size: cover;
  background-image: url(../img/strawberry-background.png);
  box-sizing: border-box;
  padding-top: 27px;
  padding-left: 20px;
}
.news a {
  display: inline-block;
  width: 300px;
  font-size: 24px;
  line-height: 30px;
  color: black;
}
.subscriptions {
  width: 560px;
  background-position: center;
  background-size: cover;
  background-image: url(../img/mail-border-background.png);
  box-sizing: border-box;
  padding: 6px;
}
.subscriptions form {
  background: #f8f7f4;
  border-radius: 10px;
  padding-top: 33px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 36px;
  color: #5a5a5a;
}
.subscriptions form label {
  display: inline-block;
  margin-bottom: 27px;
}
.subscriptions button {
  width: 131px;
  height: 47px;
  border-radius: 21px;
  border: none;
}
/* карта и котакты*/
.map {
  margin-left: -2.85%;
}
.contacts {
  position: absolute;
  top: 62px;
  right: 0;
  background: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.map-contacts {
  position: relative;
}
.contacts p {
  margin: 0;
}
.contacts a.btn {
  width: 254px;
  height: 47px;
  border-radius: 27px;
}
/* футер */
.main-footer {
  display: flex;
  justify-content: space-between;
}
.footer-social {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.footer-social li {
  padding-right: 5px;
}
.footer-documents {
  list-style-type: none;
  column-count: 2;
  padding: 0;
}
/* хлебные крошки */
.breadcrumbs {
  margin-top: -44px
}
.breadcrumbs h1 {
  font-size: 35px;
  line-height: 41px;
  margin-bottom: 20px;
  padding: 0;
}
.breadcrumbs ul {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-bottom: 10px;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs a {
  color: white;
}
.breadcrumbs li::before {
  content: '»';
  margin-left: 5px;
  margin-right: 5px;
  color: #ffffff;
 }
 .breadcrumbs li:first-child::before {
  content: '';
 }
/* фильтры */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
  background: #a8b9af;
  height: 36px;
  border-radius: 18px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
}
.field {
  margin: 0;
  margin-top: 17px;
}
.filters {
  display: flex;
  width: 853px;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 40px;
}
.filters p {
  margin: 0;
  margin-bottom: 9px;
}
.filters button[type=submit] {
  width: 144px;
  height: 36px;
  border: 2px solid #f6f8f7;
  border-radius: 15px;
  background: #a8b9af;
}
/* каталог */
.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-item {
  flex: 1;
  text-align: center;
}
/* переключалка станиц */
.n-page {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin-top: 107px;
}
.n-page li:first-child::before {
  content: '<';
}
.n-page li:last-child::after {
  content: '>';
}
.n-page li {
  padding-right: 24px;
}
.n-page li:last-child {
  padding: 0;
}
